.tabular-view--collapse-borders {
  border-collapse: collapse;
}

table {
  width: 100%;
  font-family: Montserrat;
  table-layout: fixed;
  box-sizing: border-box;
}

thead {
  font-weight: 500;
}

tbody {
  font-weight: 400;
}

tr {
  border-bottom: 1px solid #AFAFAF;
  box-sizing: border-box;

}

tr th:first-of-type,
tr td:first-of-type {
  padding-left: 0;
}

tr th:last-of-type,
tr td:last-of-type {
  padding-right: 0;
}

th,
td {
  padding: 2.4rem 0.5rem;
  box-sizing: border-box;

  font-size: 1.125em;
  line-height: 1.333333;
  text-align: left;

  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  direction: ltr;
}

.tabular-view-column--grow {
  max-width: 528.5px;
  width: clamp(10ch, 46.35%, 30ch);
}

.tabular-view-column--shrink {
  max-width: 20px;
  width: clamp(10ch, 6.5%, 30ch);
}

.pagination {
  display: flex;
}

.pagination--centered {
  justify-content: center;
}

.pagination__pages {
  display: flex;
  font-family: Montserrat;
}

.page-number {
  display: block;
  margin: 0 5px;
  width: 32px;
  height: 32px;
  border: 0.64px solid #1A1A1A;
  border-radius: 100%;
  overflow: hidden;
}

.page-number:first-of-type {
  margin-left: 0;
}

.page-number:last-of-type {
  margin-right: 0;
}

.page-link {
  display: block;
  color: #1A1A1A;
  font-size: 15px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
}

.page-link--current {
  background-color: #1A1A1A;
  color: #F6F6F4;
}
