.content-lane__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.content-lane__title {
  margin: 0;
  color: #1A1A1A;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.card-list {
  display: flex;
  overflow-x: visible;
}

.card {
  flex: 1 0 364px;
  margin: 0 12px;
}

.card:first-of-type {
  margin-left: 0;
}

.card:last-of-type {
  margin-right: 0;
}

.card__thumbnail {
  position: relative;
  width: 364px;
  height: 172px;
  background:#C4C4C4;
  overflow: hidden;
}

.card__thumbnail::after {
  position: absolute;
  top: calc(50% - (52px / 2));
  left: calc(50% - (52px / 2));
  display: block;
  width: 52px;
  height: 52px;
  background-color: #000000;
  border-radius: 100%;
  content: url('/icons/play.svg');
}

.card__thumbnail > img {
  display: block;
  border: 0;
  max-width: 100%;
  object-fit: cover;
}

.card__content {
  padding: 16px 0 8px;
  color: #1A1A1A;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
}

.card__content p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  margin: 0 0 8px;
  overflow: hidden;
}

.card__content p:last-of-type {
  margin-bottom: 0;
}

.card__content-title {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.lane-nav > .nav--horizontal {
  margin: 0;
}

.lane-nav__direction {
  position: relative;
  display: block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  border: 1px solid #1A1A1A;
  border-radius: 100%;
  overflow: hidden;
}

.lane-nav__direction--inactive {
  opacity: 0.4;
}

.lane-nav__direction:first-of-type {
  margin-left: 0;
}

.lane-nav__direction:last-of-type {
  margin-right: 0;
}

.lane-nav__direction::after {
  position: absolute;
  top: calc(50% - (24px / 2));
  left: calc(50% - (24px / 2));
  display: block;
  width: 24px;
  height: 24px;
  content: url('/icons/rsaquo.svg');
}

.lane-nav__direction--left::after {
  backface-visibility: hidden;
  transform: rotateZ(180deg);
}
