.pagination {
  --page-size: 2em;
  --pagination-alignment: center;

  display: flex;
  justify-content: var(--pagination-alignment);
  counter-reset: pagination;
}

.page-item {
  margin: 0 5px;
  width: var(--page-size);
  height: var(--page-size);
  border: 0.64px solid var(--gray-900);
  border-radius: 100%;
  counter-increment: pagination;
  overflow: hidden;
}

.page-link {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  font-size: calc(var(--page-size) * 0.512);
  font-weight: 500;
  line-height: 2;
  text-align: center;
  transition: all .3s ease-in-out;
}

.page-link:empty::after {
  content: counter(pagination);
}

.page-link:hover,
.page-link.current {
  background-color: var(--gray-900);
  color: var(--gray-100);
}

.page-link.current {
  pointer-events: none;
}
